<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header%>
    <title>Books</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <p>
                        hola Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi culpa facilis 
                        tempora! Harum nisi a consectetur ab quia enim cupiditate ipsam, itaque blanditiis 
                        ipsum, odio iusto facilis adipisci, aspernatur quasi.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>